<footer class="footer py-2 mt-3"  style="background-color: #0077b6;  ">
    <div class="container d-flex  justify-content-between flex-wrap">
        <p class="text-center text-light fw-lighter m-0">Developed By Alok Sharma</p>
        <p class="text-center text-light fw-lighter  m-0 ">alok92iit@gmail.com</p>
        <p class="text-center text-light fw-lighter  m-0">Thanx For Visit</p>
        <p class="text-center text-light fw-lighter  m-0">&copy; Shopping-Cart 2021</p>
    </div>
</footer>