<footer class="footer py-2 mt-auto"  style="background-color: #0077b6;">
    <div class="container d-flex  justify-content-between flex-wrap">
        <p class="text-center text-light fw-lighter ">Developed By Alok Sharma</p>
        <p class="text-center text-light fw-lighter">alok92iit@gmail.com</p>
        <p class="text-center text-light fw-lighter">Thanx For Visit</p>
        <p class="text-center text-light fw-lighter">&copy; Shopping-Cart 2021</p>
    </div>
</footer>